body{
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    margin: 0%
}
.containerQuiz{
    height: 330px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-55%) translateY(-70%)

}
.title{
    padding-top: 20px;
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
    text-align: center;
    color: darkslategrey
    
}
.question{
    padding: 20px;
    font-size: 22px;
    background: #ffb3b3;
    margin: 10px 0;
    color: black;
    height: 50px;
    width: 600px;
    text-align: left;
    position:relative;
    left: 200px;
    
}
.option{
    width: 450px;
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
    background: lightgrey;
    color: black;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
    position: relative;
    left: 100px;
}
.option:hover{
    background: lightcoral;
}
.nextBtn{
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    background:#ffa280;
    color: black;
    font-family: 'Baloo Chettan', cursive;
    
}
.nextBtn:hover{
    background: rgb(248, 177, 182);
    color: black;
}
.containerResult{
    
    position: absolute;
    top: 45%;
    left:40%;
    font-size: 45px;
    font-family: 'Baloo Chettan', cursive;
}
.result{
    text-align: center;
    font-size: 100px;
    height: 100px;
}
.option input:checked.option{
    background: grey;
    color: black;
}
#restartButton{
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 22px;
    background:#ffa280;
    color: black;
    font-family: 'Baloo Chettan', cursive;
    margin: 28% 48%;
    text-align: center;
}
.restartButton:hover{
    background: rgb(248, 177, 182);
    color: black;
}